body{
  background-image: linear-gradient(120deg, #4d3f12 0%, #fda085 100%);
  font-size: large;
  color: rgb(55, 6, 6);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  text-align: center;
}

.fishpic{
  display: block;
  border: solid 2px;
  border-radius: 30%;
  width: 50%;
  float:inline-start;
}
.jazzPic{
  float: right;
  border: solid 2px;
  border-radius: 10px;
}
.atari{
  width: 150px;
  border: solid 2px;
  border-radius: 20px;
margin-left: auto;
}
.occulus{
  float: right;
  width: 255px;
}